.program-details {
  padding-left: 6rem;
  display: flex;
}

.program-details__image {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #606060;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 512px;
  height: 768px;
  margin-right: 1em;
}

.program-details__description-wrapper {
  color: white;
  font-weight: 400;
  width: 55%;
  margin-left: 4rem;
  transform: translateY(-3rem);
}

.program-details__title {
  margin: 0px;
  font-size: 6rem;
  font-weight: 400;
}

.program-details__stats,
.program-details__description {
  margin-top: 0px;
  font-size: 2.5rem;
}

@media screen and (max-width: 1280px) {
  .program-details {
    padding-left: 3rem;
  }

  .program-details__image {
    width: 330px;
    height: 495px;
    margin-right: 1em;
  }

  .program-details__description-wrapper {
    color: white;
    font-weight: 400;
    width: 55%;
    margin-left: 2rem;
    transform: translateY(-1.5rem);
  }

  .program-details__title {
    margin: 0px;
    font-size: 3rem;
    font-weight: 400;
  }

  .program-details__stats,
  .program-details__description {
    margin-top: 2.25rem;
    font-size: 1.25rem;
  }
}
