.carousel {
  list-style: none;
  display: inline-flex;
  margin: 0 0 0 6rem;
  padding: 0px;
}

.carousel--shift {
  transform: translateX(-528px);
}

.carousel__program {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #606060;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 512px 768px;
  width: 512px;
  height: 768px;
  margin-right: 1em;
  cursor: pointer;
}

.carousel__program:hover {
  background-repeat: no-repeat;
  background-color: #141414;
  background-size: 493px 747px;
  border: 5px solid #0171f9;
}

.carousel__program--selected {
  background-repeat: no-repeat;
  background-color: #141414;
  background-size: 493px 747px;
  border: 5px solid #0171f9;
}
