.link-list {
  list-style: none;
  display: flex;
  margin-left: 3rem;
}

.link-list__link {
  color: white;
  font-size: 2.5rem;
  margin-right: 3rem;
  font-weight: bold;
  opacity: 0.5;
}

.link-list__link--active {
  opacity: 1;
}
